<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filename</key>
	<string>iPhone5,2_7.1.1_11D201_Restore.ipsw</string>
	<key>RootFilesSystem</key>
	<string>058-00366-002.dmg</string>
	<key>RootFilesystemKey</key>
	<string>861a12ed5f3983ccc01ec070915acd8191e4d24b07849c7f8cd39c00a6a0c1e9050290ea</string>
	<key>RootFilesystemSize</key>
	<integer>1660</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>SHA256</key>
	<string>03ff08bfee6d65f5ccd06e44b3241482652d02e8e6d4b667e274dddabec4618f</string>
	<key>RamdiskExploit</key>
	<dict>
		<key>exploit</key>
		<string>src/target/iphone5/11D257/exploit</string>
		<key>inject</key>
		<string>src/target/iphone5/11D257/partition</string>
	</dict>
	<key>Firmware</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>069f2d8ecc3af9539ea17cb7a367d2fc</string>
			<key>Key</key>
			<string>fbfc17526908e044ea84fe4d7eba49b4862d2e144b18ccd0571cde1be5d4e812</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>d88211dde34ef1fc93ce4739b155ba6a</string>
			<key>Key</key>
			<string>f279ebbf01fdea9526be0ad5f8afbf72def14c7dea9b1621758b8d7021918edf</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>a7374ecacec5738def871f6d0972a008</string>
			<key>Key</key>
			<string>c45a21d49588f7f12f5552313209315513e8dc33fd96063a0b44db167df9a7dc</string>
			<key>Decrypt</key>
			<true/>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>8ddc93f56076d34176c18a5fc6627753</string>
			<key>Key</key>
			<string>26a5f434dc361000ac92957a81f7325b643a1f687155ccefc22ee8e9adc53b06</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>bba99d7ae4bb94dff69bacc69a49da51</string>
			<key>Key</key>
			<string>7c8b569010ba6596c5e9f4bf52d74ead57829f238e7d1758e70034313be7fb9a</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-00219-002.dmg</string>
			<key>IV</key>
			<string>6ed1df41d2a13b64860701a5a7d84a74</string>
			<key>Key</key>
			<string>d8f8380a040667a039a13498ee667a8b9ce8eed2667019d00ffbef50a3721905</string>
			<key>Decrypt</key>
			<true/>
		</dict>
	</dict>
	<key>FirmwarePath</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/batterycharging0@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/batterycharging1@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/batteryfull@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/batterylow0@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/batterylow1@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/LLB.n42ap.RELEASE.img3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/iBoot.n42ap.RELEASE.img3</string>
		</dict>
	</dict>
</dict>
</plist>
