<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filename</key>
	<string>iPad2,4_7.1_11D167_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad2,4_7.1_11D167</string>
	<key>RootFilesystem</key>
	<string>058-4152-001.dmg</string>
	<key>RootFilesystemKey</key>
	<string>1af1daa2c9d178e65af62a597e9fca76706a6ecf16cd73a8e2dd329a591bea786c82b26b</string>
	<key>RootFilesystemSize</key>
	<integer>1660</integer>
	<key>SHA256</key>
	<string>61c03ee2a812b54213ed180ea6869e195b36aa175911c9d99923e4b073d742be</string>
	<key>RamdiskExploit</key>
	<dict>
		<key>exploit</key>
		<string>src/target/k93a/11D257/exploit</string>
		<key>inject</key>
		<string>src/target/k93a/11D257/partition</string>
	</dict>
	<key>Firmware</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k93aap.RELEASE.dfu</string>
			<key>IV</key>
			<string>9325948ed7dd3f7efb7dbc8634d161bd</string>
			<key>Key</key>
			<string>f21d9d81da02449b5c955f00580800cbdb73a6ba2fb1768ded500431ae4d7f77</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k93aap.RELEASE.dfu</string>
			<key>IV</key>
			<string>fc711cf57159134d1e6cfda634d8f88c</string>
			<key>Key</key>
			<string>7a4ef31045e2974a009a1aa17d7e44f7e7c868a2b15d7700c95134c31489cf93</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.k93a</string>
			<key>IV</key>
			<string>1841a58956c46c4ab19c81cd7962521c</string>
			<key>Key</key>
			<string>3c87244a713e95b2d7e020cb60a6749a4a37276d85bcdb9fabda0f76f12e01cf</string>
			<key>Decrypt</key>
			<true/>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/DeviceTree.k93aap.img3</string>
			<key>IV</key>
			<string>55d8692258a6080c899a7183574af931</string>
			<key>Key</key>
			<string>5b2deaeeee41c4d4f9433e2113db40cc2670fceab50f62a9b3e7417ab0759796</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k93aap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/applelogo.s5l8942x.img3</string>
			<key>IV</key>
			<string>0b2fb935aa238ed0ef52ab25e8f0c3b5</string>
			<key>Key</key>
			<string>f9d1ac2fcfdaa13e03120fde503a2ed85c6fef9ff2df8bf4f737e71f8b371a66</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8942x.img3</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4322-002.dmg</string>
			<key>IV</key>
			<string>136cb67dfe6bf1630455474c20138da1</string>
			<key>Key</key>
			<string>cb78c171c96a81aa29da67910257080c03ce40baa87b708b76e93eb1ff8ace2d</string>
			<key>Decrypt</key>
			<true/>
		</dict>
	</dict>
	<key>FirmwarePath</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/applelogo.s5l8942x.img3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/batterycharging0.s5l8942x.img3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/batterycharging1.s5l8942x.img3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/batteryfull~ipad.s5l8942x.img3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/batterylow0~ipad.s5l8942x.img3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/batterylow1~ipad.s5l8942x.img3</string>
		</dict>
		<key>BatteryPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/glyphplugin~ipad-30pin.s5l8942x.img3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/recoverymode~ipad-30pin.s5l8942x.img3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/LLB.k93aap.RELEASE.img3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/iBoot.k93aap.RELEASE.img3</string>
		</dict>
	</dict>
</dict>
</plist>
