<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootFilesystem</key>
	<string>058-48374-040.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>2200</integer>
	<key>Filename</key>
	<string>iPhone4,1_9.3.6_13G37_Restore.ipsw</string>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>Name</key>
	<string>iPhone4,1_9.3.6_13G37</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>SHA1</key>
	<string>6ccddbfdf4a0d6747924252d379ad6d52f7d4ea8</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
		</array>
	</dict>
	<key>RootFilesystemMountVolume</key>
	<string>Genoa13G37.N94OS</string>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94.RELEASE.dfu</string>
			<key>Key</key>
			<string>797c028a5c95a8980c762f63698ea71b26b98a2f01b8572d81e72a645bb44395</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBSS.n94.RELEASE.patch</string>
			<key>IV</key>
			<string>7a981c78d2c3c17ad31d170613c95bdc</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94.RELEASE.dfu</string>
			<key>Key</key>
			<string>2ecd834e6005b10acd77d98827f0ab0f302fc599c268b4795fde4c1a47ce081e</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBEC.n94.RELEASE.patch</string>
			<key>IV</key>
			<string>d76439252e683a3c5728ba340c45672a</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-49032-040.dmg</string>
			<key>Key</key>
			<string>06d072f749625566c525fb118cb691da2121227777ce7f1244822530a590ce99</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
			<key>IV</key>
			<string>0d4237e65a21e7177c40dd1f1e435f1c</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>Key</key>
			<string>a90b2e894db15c583f0146e4762f667ae5a54002e357279f2688dac0695849b7</string>
			<key>TypeFlag</key>
			<integer>4</integer>
			<key>IV</key>
			<string>23b0d1ab552c95b2d920f3847ecff985</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>kernelcache.patch</string>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>Key</key>
			<string>0df08ae913ef8109fe9d7c9b69c29836dadb5d74dbfe7d5ae12c0679cac33ed5</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>ed62c1631514e485fbd2db0b616f1d98</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>Key</key>
			<string>2a7b686b2642abdd545e513aaa3d85c7153d2f2ec906f0b28d86c7a262ea3c11</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>9109c04f0c0b16303574562e03b5f973</string>
		</dict>
	</dict>
	<key>RootFilesystemKey</key>
	<string>66aa77da612711b942ff984d91d7a657c57bb3510b284c592b86d0f93587fe09884ec669</string>
	<key>PackagePath</key>
	<string>src/cydia9.tar</string>
	<key>UntetherPath</key>
	<string>src/untether93.tar</string>
	<key>bootArgs</key>
	<string>cs_enforcement_disable=1 amfi_get_out_of_my_way=1</string>
	<key>RamdiskPackage</key>
	<string>src/binSB.tar</string>
	<key>debug</key>
	<true/>
	<key>FirmwareInject</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo7@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>NewAppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/batterycharging0@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/batterycharging1@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/batteryfull@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/batterylow0@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/batterylow1@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/glyphplugin@2x~iphone-30pin.s5l8940x.img3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/recoverymode7@2x~iphone-30pin.s5l8940x.img3</string>
		</dict>
		<key>NewRecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/recoverymode@2x~iphone-30pin.s5l8940x.img3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/LLB.n94.RELEASE.img3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/iBoot.n94.RELEASE.img3</string>
		</dict>
		<key>NewiBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/iBoot9.n94.RELEASE.img3</string>
			<key>IV</key>
			<string>81335853666f19cf9e530ce81d94a33c</string>
			<key>Key</key>
			<string>785e86bfaedfe0f0797240b60cc6292b1039448f94d4df85d62e498c9a3d95f6</string>
		</dict>
		<key>manifest</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/manifest</string>
			<key>manifest</key>
			<string>manifest</string>
		</dict>
	</dict>
	<key>isIOS</key>
	<integer>93</integer>
</dict>
</plist>
