<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filename</key>
	<string>iPod5,1_7.1.2_11D257_Restore.ipsw</string>
	<key>RootFilesystem</key>
	<string>058-4385-009.dmg</string>
	<key>RootFilesystemKey</key>
	<string>13f5a0a0fc56ab64f1053b51e2f4a717689f0d7c9db111c9758bea2c5d0d3cf8cb10f0aa</string>
	<key>RootFilesystemSize</key>
	<integer>1622</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n78.plist</string>
	<key>SHA256</key>
	<string>c23b77bc7f7557998517e1f7d504576d63fbee871e4eefa5b0956eb5392f93d3</string>
	<key>RamdiskExploit</key>
	<dict>
		<key>exploit</key>
		<string>src/target/n78/11d257/exploit</string>
		<key>inject</key>
		<string>src/target/n78/11d257/partition</string>
	</dict>
	<key>Firmware</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n78ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>69331d62f17bdb83e3e26eb87349fdc4</string>
			<key>Key</key>
			<string>20c0e04d7449e9cc55690464c6f29a0a4784a03c199125669a05f990619343b6</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n78ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>a6ccd35316074a8676628d7ea60322f2</string>
			<key>Key</key>
			<string>c06721c6ea683a94c70b3573683a304be52a26f40a63a07aaf0f511f9708653f</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n78</string>
			<key>IV</key>
			<string>f2f89453ecc0abee81a3720c16cd6b76</string>
			<key>Key</key>
			<string>b945cfd22abb060ad8934f4e3ffcaa94871bbae72494b298617ed6e3139f3ad1</string>
			<key>Decrypt</key>
			<true/>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/DeviceTree.n78ap.img3</string>
			<key>IV</key>
			<string>3f120fd8c71216d16862839420df3979</string>
			<key>Key</key>
			<string>e2710dd89822af065fd2c79903ec01a1017ffa29de4e23e2e2cc40364c327549</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n78ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/applelogo@2x~iphone.s5l8942x.img3</string>
			<key>IV</key>
			<string>550192185d2f97804492edba646dc7a4</string>
			<key>Key</key>
			<string>091ec939da973e13ccc84f0b2ff4e43304faf54fcafb3697c97891035cfffb23</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8942x.img3</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4322-012.dmg</string>
			<key>IV</key>
			<string>3976e648591f8c4894d0171f8b23e762</string>
			<key>Key</key>
			<string>d792d65ab9829e8b2c62f953c1e05401e54aeeed1492c759035d5c0692378c81</string>
			<key>Decrypt</key>
			<true/>
		</dict>
	</dict>
	<key>FirmwarePath</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/applelogo@2x~iphone.s5l8942x.img3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/batterycharging0@2x~iphone.s5l8942x.img3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/batterycharging1@2x~iphone.s5l8942x.img3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/batteryfull@2x~iphone.s5l8942x.img3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/batterylow0@2x~iphone.s5l8942x.img3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/batterylow1@2x~iphone.s5l8942x.img3</string>
		</dict>
		<key>BatteryPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/glyphplugin@1136~iphone-lightning.s5l8942x.img3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/recoverymode@1136~iphone-lightning.s5l8942x.img3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/LLB.n78ap.RELEASE.img3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/iBoot.n78ap.RELEASE.img3</string>
		</dict>
	</dict>
</dict>
</plist>
