<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filename</key>
	<string>iPhone5,1_7.1_11D167_Restore.ipsw</string>
	<key>RootFilesystem</key>
	<string>058-4435-001.dmg</string>
	<key>RootFilesystemKey</key>
	<string>ed0409cdb4a17b699e44f3d7c5d96cf7b93a7f1f0770cc2ed88c9669c658875a93421e76</string>
	<key>RootFilesystemSize</key>
	<real>1660</real>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n41.plist</string>
	<key>SHA256</key>
	<string>48720920982ef42010332631d5d754a2d73f7e16f26ca737b29f0ee1aa7d5135</string>
	<key>RamdiskExploit</key>
	<dict>
		<key>exploit</key>
		<string>src/target/iphone5/11D257/exploit</string>
		<key>inject</key>
		<string>src/target/iphone5/11D257/partition</string>
	</dict>
	<key>Firmware</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n41ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>783a77a6be6ef759f7ed63839d4b6d0b</string>
			<key>Key</key>
			<string>d2efbae4076b164360a252b5228b978b7b7f2d361b3299fb586e94afdce33db4</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n41ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>a8f195fae5d9f0d72dfc459e12d6b8ee</string>
			<key>Key</key>
			<string>0af50adc27fdda76af46ad4bfd0a97247f5e4b94f004e6cffda067ccfd33cb3c</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n41</string>
			<key>IV</key>
			<string>114d99a60d2660c8694e626f5ebc666c</string>
			<key>Key</key>
			<string>01675c28ca17f12c848515f39fcb2e7783c9109b941818360d28fe37adecc186</string>
			<key>Decrypt</key>
			<true/>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/DeviceTree.n41ap.img3</string>
			<key>IV</key>
			<string>4d43f6511c3187eddefa17d48309ee48</string>
			<key>Key</key>
			<string>c0e696fdfb16d761c50e14f8d4ee909d700ee9e8a0c8b4155225bac1a6430dc4</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n41ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>82691defa82e9cc2e493632b9cf9e546</string>
			<key>Key</key>
			<string>bacdd381e9b5933c66e5bae528d608f2499126ba4d6b376382f9b3d26e7391cf</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4276-001.dmg</string>
			<key>IV</key>
			<string>44a237bc4d250986f8402ba40b31f1db</string>
			<key>Key</key>
			<string>cf1e065ce19a4a63adf8c9ade98bb2206ffdd948e2696d026302636b056c3a4f</string>
			<key>Decrypt</key>
			<true/>
		</dict>
	</dict>
	<key>FirmwarePath</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/batterycharging0@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/batterycharging1@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/batteryfull@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/batterylow0@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/batterylow1@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/LLB.n41ap.RELEASE.img3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/iBoot.n41ap.RELEASE.img3</string>
		</dict>
	</dict>
</dict>
</plist>
