<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filename</key>
	<string>iPhone5,2_9.0.2_13A452_Restore.ipsw</string>
	<key>RootFilesystem</key>
	<string>058-07912-303.dmg</string>
	<key>RootFilesystemKey</key>
	<string>55833657da22e514fd826fd8c94ad990dafdf5022ae20d25495fcdf26fd0c3d35f651e41</string>
	<key>RootFilesystemSize</key>
	<integer>2200</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>SHA256</key>
	<string>d96ae16dc8d5bc3e3187a371181a341540a222e28cefc65b4802165cccca123c</string>
	<key>FilesystemPackage</key>
	<dict>
		<key>bootstrap</key>
		<string>src/cydia9.tar</string>
		<key>package</key>
		<string>src/ios9.tar</string>
	</dict>
	<key>RamdiskPackage</key>
	<dict>
		<key>package</key>
		<string>src/bin.tar</string>
		<key>ios</key>
		<string>ios9</string>
	</dict>
	<key>Firmware</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>e5cd1673fb47bb3912277a01815c4e47</string>
			<key>Key</key>
			<string>df81111dfa8655a6d3c3eda13c0e583dbc1fef4cd0012aa3ee642d8e86817d3c</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42.RELEASE.dfu</string>
			<key>IV</key>
			<string>9ece1352600807a675463ba44a75adc0</string>
			<key>Key</key>
			<string>e121792b9a064bc4118d3908ca581eda448ea1e4a19f63dfe2c48a14487f9ff2</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-03706-369.dmg</string>
			<key>IV</key>
			<string>4903122eb1fb855d29aa42b2ee1a1e09</string>
			<key>Key</key>
			<string>9bf020d0e15a8253fa3dc65c92fe6911b863f3ba585dab9f505189428729e37e</string>
			<key>Decrypt</key>
			<true/>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/DeviceTree.n42ap.img3</string>
			<key>IV</key>
			<string>c68b08d2b321e25ee49cc294745660c3</string>
			<key>Key</key>
			<string>0c3627ecac5368076288c4b3cb280c931be6b8c16d157f2e73ead7df0f775e4d</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n42ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>962dd1d4734e9e9b27a0014ac0a9379a</string>
			<key>Key</key>
			<string>dfa1dcbba6faa4d6016a065af725a244305be093457c0ddbc8c928f18c0bdc10</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n42</string>
			<key>IV</key>
			<string>682caa256c65783133279b425ec8f596</string>
			<key>Key</key>
			<string>b3abe0f01175acc6544a517cb01d2d514d6dc9b21af8b922d45a74e0f69ab7bd</string>
			<key>Decrypt</key>
			<true/>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n42</string>
			<key>Patch</key>
			<true/>
		</dict>
	</dict>
	<key>FirmwareReplace</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo7@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>NewAppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/batterycharging0@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/batterycharging1@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/batteryfull@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/batterylow0@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/batterylow1@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/recoverymode7@1136~iphone-lightning.s5l8950x.img3</string>
		</dict>
		<key>NewRecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/LLB.n42.RELEASE.img3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/iBoot.n42.RELEASE.img3</string>
		</dict>
		<key>NewiBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/iBoot9.n42.RELEASE.img3</string>
			<key>IV</key>
			<string>23b4fc8e6f8b6aa20e8ab2380b3ee542</string>
			<key>Key</key>
			<string>b6a0fecaf54e3ebe46c670e74f92f053433f2b7b32d33453b5dbf75b3bdfe612</string>
		</dict>
		<key>manifest</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n42ap.production/manifest</string>
			<key>manifest</key>
			<string>manifest</string>
		</dict>
	</dict>
</dict>
</plist>
