<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filename</key>
	<string>DEVICE_VERSION_BUILD_Restore.ipsw</string>
	<key>RootFilesystem</key>
	<string>XXX-XXXXX-XXX.dmg</string>
	<key>RootFilesystemKey</key>
	<string>41414141414141414141414141414141414141414141414141414141414141414141414141</string>
	<key>RootFilesystemSize</key>
	<integer>2200</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.{DeviceClass}.plist</string>
	<key>SHA256</key>
	<string>4141414141414141414141414141414141414141414141414141414141414141</string>
	<key>FilesystemPackage</key>
	<dict>
		<key>bootstrap</key>
		<string>path/to/bootstrap.tar</string>
		<key>package</key>
		<string>path/to/package.tar</string>
	</dict>
	<key>RamdiskPackage</key>
	<dict>
		<key>package</key>
		<string>path/to/bin.tar</string>
		<key>ios</key>
		<string>blankFile</string>
	</dict>
	<key>Firmware</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>path/to/iBSS.dfu</string>
			<key>IV</key>
			<string>41414141414141414141414141414141</string>
			<key>Key</key>
			<string>4141414141414141414141414141414141414141414141414141414141414141</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>path/to/iBEC.dfu</string>
			<key>IV</key>
			<string>41414141414141414141414141414141</string>
			<key>Key</key>
			<string>4141414141414141414141414141414141414141414141414141414141414141</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>YYY-YYYYY-YYY.dmg</string>
			<key>IV</key>
			<string>41414141414141414141414141414141</string>
			<key>Key</key>
			<string>4141414141414141414141414141414141414141414141414141414141414141</string>
			<key>Decrypt</key>
			<true/>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>path/to/DeviceTree.img3</string>
			<key>IV</key>
			<string>41414141414141414141414141414141</string>
			<key>Key</key>
			<string>4141414141414141414141414141414141414141414141414141414141414141</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.{DeviceClass}.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>path/to/applelogo.img3</string>
			<key>IV</key>
			<string>41414141414141414141414141414141</string>
			<key>Key</key>
			<string>4141414141414141414141414141414141414141414141414141414141414141</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~{DeviceType}.{epochs}.img3</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.{DeviceClass}</string>
			<key>IV</key>
			<string>41414141414141414141414141414141</string>
			<key>Key</key>
			<string>4141414141414141414141414141414141414141414141414141414141414141</string>
			<key>Decrypt</key>
			<true/>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.{DeviceClass}</string>
			<key>Patch</key>
			<true/>
		</dict>
	</dict>
	<key>FirmwareReplace</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>path/to/applelogo7@2x~{...}.img3</string>
		</dict>
		<key>NewAppleLogo</key>
		<dict>
			<key>File</key>
			<string>path/to/applelogo@2x~{...}.img3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>path/to/batterycharging0.img3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>path/to/batterycharging1.img3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>path/to/batteryfull.img3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>path/to/batterylow0.img3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>path/to/batterylow1.img3</string>
		</dict>
		<key>BatteryPlugin</key>
		<dict>
			<key>File</key>
			<string>path/to/glyphplugin.img3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>path/to/recoverymode7@{...}.img3</string>
		</dict>
		<key>NewRecoveryMode</key>
		<dict>
			<key>File</key>
			<string>path/to/recoverymode@{...}.img3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>path/to/LLB.img3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>path/to/iBoot.img3</string>
		</dict>
		<key>NewiBoot</key>
		<dict>
			<key>File</key>
			<string>path/to/iBootX.img3</string>
			<key>IV</key>
			<string>41414141414141414141414141414141</string>
			<key>Key</key>
			<string>4141414141414141414141414141414141414141414141414141414141414141</string>
		</dict>
		<key>manifest</key>
		<dict>
			<key>File</key>
			<string>path/to/manifest</string>
			<key>manifest</key>
			<string>manifest</string>
		</dict>
	</dict>
</dict>
</plist>
