<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filename</key>
	<string>iPhone5,4_7.0_11A466_Restore.ipsw</string>
	<key>RootFilesystem</key>
	<string>038-9926-247.dmg</string>
	<key>RootFilesystemKey</key>
	<string>d88ec28f04b515176dfa682c01c439cb1524817b89e9126ad706c899c8ed8d5313e5f79a</string>
	<key>RootFilesystemSize</key>
	<integer>1770</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n49.plist</string>
	<key>SHA256</key>
	<string>b106eaa73bc2ff2af594ed2317fc74186c7570d1b37a1d34dfb2721138b51d99</string>
	<key>RamdiskExploit</key>
	<dict>
		<key>exploit</key>
		<string>src/target/iphone5b/11D257/exploit</string>
		<key>inject</key>
		<string>src/target/iphone5b/11D257/partition</string>
	</dict>
	<key>Firmware</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n49ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>bf363129041e95ac7a9833c39e8ecab0</string>
			<key>Key</key>
			<string>b814e4a73c75530498c12179ed2756c17860759142c6f320a6e8d90f073b9421</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n49ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>0a60780156c7b875e83f6aa023a9d779</string>
			<key>Key</key>
			<string>66f2fc0c7d091258d87bfa4e0080c2facfc7050b65f8b47936d0343c1b758a73</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n49</string>
			<key>IV</key>
			<string>2c1e2f64b7b9ffa92adeb17b901b9b1d</string>
			<key>Key</key>
			<string>b1cbe68d3aaf76324e701fbbaae1dd0b13cb16ffcfd22448ed4f7b641ab4867a</string>
			<key>Decrypt</key>
			<true/>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n49ap.production/DeviceTree.n49ap.img3</string>
			<key>IV</key>
			<string>61f585420c7eb920490c0c55f2faa428</string>
			<key>Key</key>
			<string>afaef4e5de481fefe7fad9ba2b6513cca33ca525d58d27ae6c1646965c0f37ac</string>
			<key>DecryptPath</key>
