<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootFilesystem</key>
	<string>058-04038-278.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>2048</integer>
	<key>Filename</key>
	<string>iPhone4,1_9.0.2_13A452_Restore.ipsw</string>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>Name</key>
	<string>iPhone4,1_9.0.2_13A452</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>SHA1</key>
	<string>79649a7fdf4900883b3986be53e4a2d6b5b555fb</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
		</array>
	</dict>
	<key>RootFilesystemMountVolume</key>
	<string>Monarch13A452.N94OS</string>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94.RELEASE.dfu</string>
			<key>Key</key>
			<string>621b001a05fe65050d759c9a6148904937e196788aef1cd37501ac7e2b89fb96</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBSS.n94.RELEASE.patch</string>
			<key>IV</key>
			<string>b17ac3cfcf6d787637867d36e2addf7c</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94.RELEASE.dfu</string>
			<key>Key</key>
			<string>82e395654a0f8795d95ff8d22410a8b76145e5a69c500f1cd09c9765c1527435</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBEC.n94.RELEASE.patch</string>
			<key>IV</key>
			<string>66774d6dae9ea7d7757fc7bcccab1e23</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-03653-290.dmg</string>
			<key>Key</key>
			<string>99545ef51a2e12888f7a305f7f25a0904d1513c6a03d6ecb2a47cf760a1a3762</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
			<key>IV</key>
			<string>853c3d7faab4a19fb1a772fb317f871b</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>Key</key>
			<string>ca84cff6bb5ba37d2d5e576c1a583975d2d26a132c39fc32340ee3ff39cdbbd2</string>
			<key>TypeFlag</key>
			<integer>4</integer>
			<key>IV</key>
			<string>79981a3fa7a6adbf503226c931a6390e</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>kernelcache.patch</string>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>Key</key>
			<string>45ff5e1aa8aefc787913a5b079f48e2bc908969b9a3434664dd802a8bfa5f9d5</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>6a22a6b1734a39eb027ace2f8d4de8a0</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>Key</key>
			<string>31c6b0fbb0ce9bb67550a05b816f297f27688a4a20ca3c16262290ec97e2bf44</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>0ba902e78d3f3266e1458aa7ffb1eb35</string>
		</dict>
	</dict>
	<key>RootFilesystemKey</key>
	<string>57b432b729e7b2959a1fd8ff048cca62de5e1103f942f60f7e2fdba5def3d1ec91af58cf</string>
	<key>PackagePath</key>
	<string>src/cydia9.tar</string>
	<key>UntetherPath</key>
	<string>src/untether9.tar</string>
	<key>bootArgs</key>
	<string>cs_enforcement_disable=1 amfi_get_out_of_my_way=1</string>
	<key>RamdiskPackage</key>
	<string>src/binSB.tar</string>
	<key>debug</key>
	<true/>
	<key>FirmwareInject</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo7@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>NewAppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/batterycharging0@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/batterycharging1@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/batteryfull@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/batterylow0@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/batterylow1@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/glyphplugin@2x~iphone-30pin.s5l8940x.img3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/recoverymode7@2x~iphone-30pin.s5l8940x.img3</string>
		</dict>
		<key>NewRecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/recoverymode@2x~iphone-30pin.s5l8940x.img3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/LLB.n94.RELEASE.img3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/iBoot.n94.RELEASE.img3</string>
		</dict>
		<key>NewiBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/iBoot9.n94.RELEASE.img3</string>
			<key>IV</key>
			<string>f2229acaec9274a0849243590e58d077</string>
			<key>Key</key>
			<string>75e213e773e97af77e1107dd9899cd552b3b13ddb5f5947cc8567b7a9368c57d</string>
		</dict>
		<key>manifest</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/manifest</string>
			<key>manifest</key>
			<string>manifest</string>
		</dict>
	</dict>
	<key>isIOS</key>
	<integer>9</integer>
</dict>
</plist>
