<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filename</key>
	<string>iPhone4,1_7.1.2_11D257_Restore.ipsw</string>
	<key>RootFilesystem</key>
	<string>058-4365-009.dmg</string>
	<key>RootFilesystemKey</key>
	<string>9147090b03e8f0888e74676c6a23eacd8c857ea26b7824c06563dbc1e9040857aa2e8253</string>
	<key>RootFilesystemSize</key>
	<integer>1660</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>SHA256</key>
	<string>dcef047bfad3ffb47d278a734c30c4905948193dafceed2423610ea7887ecc13</string>
	<key>RamdiskExploit</key>
	<dict>
		<key>exploit</key>
		<string>src/target/n94/11D257/exploit</string>
		<key>inject</key>
		<string>src/target/n94/11D257/partition</string>
	</dict>
	<key>Firmware</key>
	<dict/>
	<key>FirmwarePath</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/batterycharging0@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/batterycharging1@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/batteryfull@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/batterylow0@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/batterylow1@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/glyphplugin@2x~iphone-30pin.s5l8940x.img3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/recoverymode@2x~iphone-30pin.s5l8940x.img3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/LLB.n94ap.RELEASE.img3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/iBoot.n94ap.RELEASE.img3</string>
		</dict>
	</dict>
</dict>
</plist>
