<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootFilesystem</key>
	<string>058-07903-225.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>2048</integer>
	<key>Filename</key>
	<string>iPad2,4_9.0.2_13A452_Restore.ipsw</string>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>Name</key>
	<string>iPad2,4_9.0.2_13A452</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.k93a.plist</string>
	<key>SHA1</key>
	<string>0d9ce51f8e7e40debb5a0b9412ec74a9d38492b0</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
		</array>
	</dict>
	<key>RootFilesystemMountVolume</key>
	<string>Monarch13A452.K93aOS</string>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k93a.RELEASE.dfu</string>
			<key>Key</key>
			<string>8165d7d33737224699c18a2ad3aa4f66e5c6d32597321739b3c810f12b91fcf0</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBSS.k93a.RELEASE.patch</string>
			<key>IV</key>
			<string>e0a4eed7518e0187bad24bd19680b81b</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k93a.RELEASE.dfu</string>
			<key>Key</key>
			<string>fc2e065f46177e54c85462edbd3d0535d6d470c16abdae9b4af9b0f47adf59dd</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBEC.k93a.RELEASE.patch</string>
			<key>IV</key>
			<string>a5bc160d59f357220318f076c01245e8</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-03758-306.dmg</string>
			<key>Key</key>
			<string>6620d676345a13c9d7e6700c1b542da892d2eda21a62070df4219f6673680f48</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
			<key>IV</key>
			<string>85844d971357d70e27b996d66d199452</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.k93a</string>
			<key>Key</key>
			<string>e0e1384c88b1d56c00ff7a72d2e19154a6f6f7924349053e5f672ea5a9ca9fc5</string>
			<key>TypeFlag</key>
			<integer>4</integer>
			<key>IV</key>
			<string>e76643251b4372391ba51a792cedeef4</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>kernelcache.patch</string>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/DeviceTree.k93aap.img3</string>
			<key>Key</key>
			<string>aa6aa3ac98dd8d3ab2e494f1885a40bc9825e81e0869e55787cd80b5fb895d55</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k93aap.img3</string>
			<key>IV</key>
			<string>543b5ef1dd334d1171de209d43e66555</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/applelogo.s5l8942x.img3</string>
			<key>Key</key>
			<string>077a9755caea9c57b852e8e328013a884b726aad35f38d5c9dfb75d033dd72c9</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8942x.img3</string>
			<key>IV</key>
			<string>45cfe008bef00e7ead1489a7f4042b65</string>
		</dict>
	</dict>
	<key>RootFilesystemKey</key>
	<string>1587c0f6b4ac152c285f229e5f206989028a5e34a4d6e0b3b7813a40310eb13280a75fac</string>
	<key>PackagePath</key>
	<string>src/cydia9.tar</string>
	<key>needPref</key>
	<true/>
	<key>UntetherPath</key>
	<string>src/untether9.tar</string>
	<key>bootArgs</key>
	<string>cs_enforcement_disable=1 amfi_get_out_of_my_way=1</string>
	<key>RamdiskPackage</key>
	<string>src/binSB.tar</string>
	<key>debug</key>
	<true/>
	<key>FirmwareInject</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/applelogo7.s5l8942x.img3</string>
		</dict>
		<key>NewAppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/applelogo.s5l8942x.img3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/batterycharging0.s5l8942x.img3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/batterycharging1.s5l8942x.img3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/batteryfull~ipad.s5l8942x.img3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/batterylow0~ipad.s5l8942x.img3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/batterylow1~ipad.s5l8942x.img3</string>
		</dict>
		<key>BatteryPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/glyphplugin~ipad-30pin.s5l8942x.img3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/recoverymode7~ipad-30pin.s5l8942x.img3</string>
		</dict>
		<key>NewRecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/recoverymode~ipad-30pin.s5l8942x.img3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/LLB.k93a.RELEASE.img3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/iBoot.k93a.RELEASE.img3</string>
		</dict>
		<key>NewiBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/iBoot9.k93a.RELEASE.img3</string>
			<key>IV</key>
			<string>b56d106fa131a943bfe516429b3cab81</string>
			<key>Key</key>
			<string>4a4a7c6403fa4d79c0b2404de6ad95e48096e904f3c2b9138075b469ffc594cf</string>
		</dict>
		<key>manifest</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/manifest</string>
			<key>manifest</key>
			<string>manifest</string>
		</dict>
	</dict>
	<key>isIOS</key>
	<integer>9</integer>
</dict>
</plist>
