<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filename</key>
	<string>iPod5,1_8.1.2_12B440_Restore.ipsw</string>
	<key>RootFilesystem</key>
	<string>058-09804-017.dmg</string>
	<key>RootFilesystemKey</key>
	<string>3e2d02f6eb5002c78fcc99d4e374b4c4f526ff444401385ea980912a0b7a45d917811958</string>
	<key>RootFilesystemSize</key>
	<integer>2400</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n78.plist</string>
	<key>SHA256</key>
	<string>2c61456d444a3d39594c02f0affdf5133b75a4a95ca12566825f2711f5682214</string>
	<key>FilesystemPackage</key>
	<dict>
		<key>bootstrap</key>
		<string>src/cydia8.tar</string>
		<key>package</key>
		<string>src/ios9.tar</string>
	</dict>
	<key>RamdiskPackage</key>
	<dict>
		<key>package</key>
		<string>src/bin.tar</string>
		<key>ios</key>
		<string>ios8</string>
	</dict>
	<key>Firmware</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n78.RELEASE.dfu</string>
			<key>IV</key>
			<string>589610447985363ebb1cd449b9c15b95</string>
			<key>Key</key>
			<string>95312e47b2e618319ddfcf9ef05ec0ef5643c3b719011110f14a6b8143f7de98</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n78.RELEASE.dfu</string>
			<key>IV</key>
			<string>7f71a6db4fa59e1abc134d5c188d0ca0</string>
			<key>Key</key>
			<string>3ab9f459ae1a3fa07fafa53b003b925949dd24eda5be7283f35ed13504b38a62</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-09735-017.dmg</string>
			<key>IV</key>
			<string>687f04918ab69cfb1e14af826b72a42a</string>
			<key>Key</key>
			<string>2ceeefd7f2401bde889c405ff63ee46e90120468eb7204d8295f1011ee332baa</string>
			<key>Decrypt</key>
			<true/>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/DeviceTree.n78ap.img3</string>
			<key>IV</key>
			<string>1b5738089054343e0eaa317a669f7f6a</string>
			<key>Key</key>
			<string>3a3ed005cf40e151ba333aa63483bcfea2308a1c4bbb603b4bcf3358f6cb4a23</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n78ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/applelogo@2x~iphone.s5l8942x.img3</string>
			<key>IV</key>
			<string>7caf621b4bd59c85efd68d925240ee4c</string>
			<key>Key</key>
			<string>f3308be332e048e3f69d2ddd0c26d3e9fe75a10989b8859976fe737156452ab0</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8942x.img3</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n78</string>
			<key>IV</key>
			<string>163c53b0ea3d01f539009066e6a7fd45</string>
			<key>Key</key>
			<string>4521806bbca9924b152a50b4c7ac3a52533aa0430209bce758379d3476f874f3</string>
			<key>Decrypt</key>
			<true/>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n78</string>
			<key>Patch</key>
			<true/>
		</dict>
	</dict>
	<key>FirmwareReplace</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/applelogo7@2x~iphone.s5l8942x.img3</string>
		</dict>
		<key>NewAppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/applelogo@2x~iphone.s5l8942x.img3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/batterycharging0@2x~iphone.s5l8942x.img3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/batterycharging1@2x~iphone.s5l8942x.img3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/batteryfull@2x~iphone.s5l8942x.img3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/batterylow0@2x~iphone.s5l8942x.img3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/batterylow1@2x~iphone.s5l8942x.img3</string>
		</dict>
		<key>BatteryPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/glyphplugin@1136~iphone-lightning.s5l8942x.img3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/recoverymode7@1136~iphone-lightning.s5l8942x.img3</string>
		</dict>
		<key>NewRecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/recoverymode@1136~iphone-lightning.s5l8942x.img3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/LLB.n78.RELEASE.img3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/iBoot.n78.RELEASE.img3</string>
		</dict>
		<key>NewiBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/iBoot8.n78.RELEASE.img3</string>
			<key>IV</key>
			<string>e6c8fb28a45ad822d90b0d199134ae31</string>
			<key>Key</key>
			<string>8e699051ddf6122e5cb0d213e150728a4fb634b13d39beabab17c77627999dac</string>
		</dict>
		<key>manifest</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/manifest</string>
			<key>manifest</key>
			<string>manifest</string>
		</dict>
	</dict>
</dict>
</plist>
