<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filename</key>
	<string>iPhone5,1_9.2.1_13D15_Restore.ipsw</string>
	<key>RootFilesystem</key>
	<string>058-31978-015.dmg</string>
	<key>RootFilesystemKey</key>
	<string>a6cb6e3c31f8e008555fc849a4ca018c629428aee14381f7036cf05c619a0ffe41782620</string>
	<key>RootFilesystemSize</key>
	<integer>2500</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n41.plist</string>
	<key>SHA256</key>
	<string>78c9d48fb53892fc4232c1aaede93e76fe81b44e26d755929c28cb10c994f200</string>
	<key>FilesystemPackage</key>
	<dict>
		<key>bootstrap</key>
		<string>src/cydia9.tar</string>
		<key>package</key>
		<string>src/ios9.tar</string>
	</dict>
	<key>RamdiskPackage</key>
	<dict>
		<key>package</key>
		<string>src/bin.tar</string>
		<key>ios</key>
		<string>ios9</string>
	</dict>
	<key>Firmware</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n41.RELEASE.dfu</string>
			<key>IV</key>
			<string>03ccc92585bef302e8b3f9d91f30a130</string>
			<key>Key</key>
			<string>228e61e65915e85db5f35dbdb79c2b49ef8d40ea49db1f8fcad2075db04ac581</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n41.RELEASE.dfu</string>
			<key>IV</key>
			<string>1e824b7606630e105bb47b7692c2d6e2</string>
			<key>Key</key>
			<string>1702824508a4b862fe08753fefd6abbad088404b845a1aa8dfd89c1773b704e3</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-32359-015.dmg</string>
			<key>IV</key>
			<string>c0fbb11c3daab6b479cb5b97636fbd33</string>
			<key>Key</key>
			<string>c9f2a824a5027019a60af2e373bb78c77b7704db93cf9f3bb94ce8f1b1cd8150</string>
			<key>Decrypt</key>
			<true/>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/DeviceTree.n41ap.img3</string>
			<key>IV</key>
			<string>01de18e4d31316c5f31bbaf927b6bf4e</string>
			<key>Key</key>
			<string>4bd8b99b87031270c11e53ab4728caa8a621e616cad901e43ee927f43ceb1298</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n41ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>73ce7e32b23ea20666b9f9065a4380e9</string>
			<key>Key</key>
			<string>7a0457408683dbe30c671204b4870d8bf5838caadfe75683b73247d59e87f35d</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n41</string>
			<key>IV</key>
			<string>a1f4825179bea8af0f168294005923cd</string>
			<key>Key</key>
			<string>f06ad5fdfbecbba1707c48ceed1bd99681db95bf9210db78a97bcf7292724198</string>
			<key>Decrypt</key>
			<true/>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n41</string>
			<key>Patch</key>
			<true/>
		</dict>
	</dict>
	<key>FirmwareReplace</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/applelogo7@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>NewAppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/batterycharging0@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/batterycharging1@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/batteryfull@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/batterylow0@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/batterylow1@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/recoverymode7@1136~iphone-lightning.s5l8950x.img3</string>
		</dict>
		<key>NewRecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/LLB.n41.RELEASE.img3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/iBoot.n41.RELEASE.img3</string>
		</dict>
		<key>NewiBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/iBoot9.n41.RELEASE.img3</string>
			<key>IV</key>
			<string>015ae5c099f28b3c79bf7c1de88ebeaa</string>
			<key>Key</key>
			<string>5fa9cd9353e71a0a85d90ff4706c329b00382c60c4321fe11bd8792bef1d3a66</string>
		</dict>
		<key>manifest</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/manifest</string>
			<key>manifest</key>
			<string>manifest</string>
		</dict>
	</dict>
</dict>
</plist>
