<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone3,3_6.1.3_10B329_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>System/Library/Lockdown/Services.plist</string>
				<key>Name</key>
				<string>Apple File Connection v2</string>
				<key>Patch</key>
				<string>Services.patch</string>
			</dict>
		</array>
	</dict>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>048-2441-007.dmg</string>
			<key>IV</key>
			<string>e7c082ad98b5fe0ed45bc95531db50e6</string>
			<key>Key</key>
			<string>6328b0e17dd264f5eaa21ce9b135119924407cce39f7d396e631f5e7ee3e6087</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>da1a960590726a66f23d6418602d6e63</string>
			<key>Key</key>
			<string>6e8292914a5597610f7d76fdc25ee88ad5240c19591f071f4993cbdefa902019</string>
			<key>Patch</key>
			<string>iBEC.n92ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n92ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>293cc706282984db11e1d4e44d9d5709</string>
			<key>Key</key>
			<string>a383c3055d8a6f5350226cb2af458e29aa38abda3672c38d8d63dfa1118988c8</string>
			<key>Patch</key>
			<string>iBSS.n92ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n92</string>
			<key>Key</key>
			<string>c68c527fad5b101bf6f3342548d434425f0e1370f05fbaf4ff2cd57f1d9a16c9</string>
			<key>TypeFlag</key>
			<integer>4</integer>
			<key>IV</key>
			<string>98c715c105cde8aad13dcde4d6164c69</string>
			<key>Patch</key>
			<string>kernelcache.patch</string>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone3,3_6.1.3_10B329</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n92.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>048-2443-005.dmg</string>
	<key>RootFilesystemKey</key>
	<string>3ad3f6163e6d6307f7149ae980df922725718f32f28554d8969cbdb92349e3c79de9b623</string>
	<key>RootFilesystemMountVolume</key>
	<string>BrightonMaps10B329.N92OS</string>
	<key>RootFilesystemSize</key>
	<integer>1280</integer>
	<key>SHA1</key>
	<string>42f09fdc2e35426cc402ee683efb3b5e62dfe46a</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>FirmwareInject</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/applelogo7@2x.s5l8930x.img3</string>
		</dict>
		<key>NewAppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/applelogo@2x.s5l8930x.img3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterycharging0@2x.s5l8930x.img3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterycharging1@2x.s5l8930x.img3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batteryfull@2x.s5l8930x.img3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterylow0@2x.s5l8930x.img3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/batterylow1@2x.s5l8930x.img3</string>
		</dict>
		<key>BatteryPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/glyphplugin@2x.s5l8930x.img3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/recoverymode7@2x~iphone.s5l8930x.img3</string>
		</dict>
		<key>NewRecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/recoverymode@2x~iphone.s5l8930x.img3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/LLB.n92ap.RELEASE.img3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/iBoot.n92ap.RELEASE.img3</string>
		</dict>
		<key>NewiBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/iBoot6.n92ap.RELEASE.img3</string>
			<key>IV</key>
			<string>f4d653e506183d11e4119c1bc26f2f72</string>
			<key>Key</key>
			<string>18d3f8be91cb921bbb0253678d277b71a53594613715e842eb1eedc20aa29165</string>
		</dict>
		<key>manifest</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n92ap.production/manifest</string>
			<key>manifest</key>
			<string>manifest</string>
		</dict>
	</dict>
	<key>PackagePath</key>
	<string>src/cydia6.tar</string>
	<key>UntetherPath</key>
	<string>src/untether6.tar</string>
	<key>bootArgs</key>
	<string>cs_enforcement_disable=1 amfi_get_out_of_my_way=1</string>
	<key>RamdiskPackage</key>
	<string>src/bin6.tar</string>
	<key>debug</key>
	<true/>
</dict>
</plist>
