<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootFilesystem</key>
	<string>058-49388-036.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>2200</integer>
	<key>Filename</key>
	<string>iPod5,1_9.3.5_13G36_Restore.ipsw</string>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>Name</key>
	<string>iPod5,1_9.3.5_13G36</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n78.plist</string>
	<key>SHA1</key>
	<string>8ee90db33805358d4b24b3ef3e9e91914e13e05a</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
		</array>
	</dict>
	<key>RootFilesystemMountVolume</key>
	<string>Genoa13G36.N78OS</string>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n78.RELEASE.dfu</string>
			<key>Key</key>
			<string>ed46f45ec3e1306678fbdd3fb4e0029f401ee14dcbc3833fc2ee9e12185de8e3</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBSS.n78.RELEASE.patch</string>
			<key>IV</key>
			<string>12f032996a0bd47dab76b44ca3dfe807</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n78.RELEASE.dfu</string>
			<key>Key</key>
			<string>e3916561a2cb390473ad68aab19ca7db4c4fd02f41032e99519ee59e5660b2f3</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBEC.n78.RELEASE.patch</string>
			<key>IV</key>
			<string>23761479c7875efc7e41e509d9455c86</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-49111-036.dmg</string>
			<key>Key</key>
			<string>a4e2a2b8f548c5331b1af83c7dafddc4ef25230dcb314f84d1aadb7fa80d2987</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
			<key>IV</key>
			<string>477e9c3f4adb10209d9dd6f44229d7ab</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n78</string>
			<key>Key</key>
			<string>87aa19c72db6e662d6c3dbcf74da88026fda5a66469baa7e271725918133cd2f</string>
			<key>TypeFlag</key>
			<integer>4</integer>
			<key>IV</key>
			<string>2692e6004e6240aab57f2affa0daedc0</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>kernelcache.patch</string>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/DeviceTree.n78ap.img3</string>
			<key>Key</key>
			<string>f002a92087911275221f67aa6f64b97c8a91a38b4a41f5ac8b08c3a9d042f216</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n78ap.img3</string>
			<key>IV</key>
			<string>fe42ff0884f3cdfca861df64e7e734a3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/applelogo@2x~iphone.s5l8942x.img3</string>
			<key>Key</key>
			<string>3054cabb8bdb163c815cd28c47e082f3f22ceb2b49842468c536f86c3272b1e7</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8942x.img3</string>
			<key>IV</key>
			<string>491b552e25cdadb6878c186ab600edfb</string>
		</dict>
	</dict>
	<key>RootFilesystemKey</key>
	<string>edf6e096858c2e8f311a5c113a998bfd89947e8b00df66ad5ea494ed80a124185ddcb8d0</string>
	<key>PackagePath</key>
	<string>src/cydia9.tar</string>
	<key>UntetherPath</key>
	<string>src/untether93.tar</string>
	<key>bootArgs</key>
	<string>cs_enforcement_disable=1 amfi_get_out_of_my_way=1</string>
	<key>RamdiskPackage</key>
	<string>src/binSB.tar</string>
	<key>debug</key>
	<true/>
	<key>FirmwareInject</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/applelogo7@2x~iphone.s5l8942x.img3</string>
		</dict>
		<key>NewAppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/applelogo@2x~iphone.s5l8942x.img3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/batterycharging0@2x~iphone.s5l8942x.img3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/batterycharging1@2x~iphone.s5l8942x.img3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/batteryfull@2x~iphone.s5l8942x.img3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/batterylow0@2x~iphone.s5l8942x.img3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/batterylow1@2x~iphone.s5l8942x.img3</string>
		</dict>
		<key>BatteryPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/glyphplugin@1136~iphone-lightning.s5l8942x.img3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/recoverymode7@1136~iphone-lightning.s5l8942x.img3</string>
		</dict>
		<key>NewRecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/recoverymode@1136~iphone-lightning.s5l8942x.img3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/LLB.n78.RELEASE.img3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/iBoot.n78.RELEASE.img3</string>
		</dict>
		<key>NewiBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/iBoot9.n78.RELEASE.img3</string>
			<key>IV</key>
			<string>e04e9000f934acc0a06a29cb67b2bb2d</string>
			<key>Key</key>
			<string>07d89d2ae5f270987de529b2e6963258f5a0e1806fff726589d51257c8d35588</string>
		</dict>
		<key>manifest</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/manifest</string>
			<key>manifest</key>
			<string>manifest</string>
		</dict>
	</dict>
	<key>isIOS</key>
	<integer>93</integer>
</dict>
</plist>
