<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filename</key>
	<string>iPod5,1_8.1_12B411_Restore.ipsw</string>
	<key>RootFilesystem</key>
	<string>058-05163-079.dmg</string>
	<key>RootFilesystemKey</key>
	<string>0b840268592ddecd5c218c12c780c9b19741ab79cb15f4e25b77800b01dda21b008678aa</string>
	<key>RootFilesystemSize</key>
	<integer>2400</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n78.plist</string>
	<key>SHA256</key>
	<string>dc929f16de2002ad912351b3032fb518ac41e82c890a145223b1938abdb2422b</string>
	<key>FilesystemPackage</key>
	<dict>
		<key>bootstrap</key>
		<string>src/cydia8.tar</string>
		<key>package</key>
		<string>src/ios9.tar</string>
	</dict>
	<key>RamdiskPackage</key>
	<dict>
		<key>package</key>
		<string>src/bin.tar</string>
		<key>ios</key>
		<string>ios8</string>
	</dict>
	<key>Firmware</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n78.RELEASE.dfu</string>
			<key>IV</key>
			<string>c276935b474570f5e2df61e1e3b5175d</string>
			<key>Key</key>
			<string>f79c0f0cae7bfaec4d8e49d58ddb3deddc5317896ff8fd21431eea3f6cb612b3</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n78.RELEASE.dfu</string>
			<key>IV</key>
			<string>3527a93eb09d41b70e38ea3549433004</string>
			<key>Key</key>
			<string>527a4ef47a307395fbd50fda96893b3aed99ac168a87aa27e47cf02e9884c0e8</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-05117-081.dmg</string>
			<key>IV</key>
			<string>70b18e4b5717fe5e802ec75a1f39296a</string>
			<key>Key</key>
			<string>ec457e8c908aba205d97127729d46ce7fdecf42c3f0fe1e57c2c7b961e6c4582</string>
			<key>Decrypt</key>
			<true/>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/DeviceTree.n78ap.img3</string>
			<key>IV</key>
			<string>1adf69c38853e1a0eca3ac80122290af</string>
			<key>Key</key>
			<string>5f40d6280ec169e5aa90c0353aa86ac841f0ceddfa6fb100b97ad1e672585cd4</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n78ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/applelogo@2x~iphone.s5l8942x.img3</string>
			<key>IV</key>
			<string>0de2e3b58fe8f3d557316ea162e4435a</string>
			<key>Key</key>
			<string>68b964086b4694e74d625a34f70213a87cdf9ff3ef552662bfc612361aefe79a</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8942x.img3</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n78</string>
			<key>IV</key>
			<string>9ae26dc0deef2b5a3626e4ba91094c45</string>
			<key>Key</key>
			<string>e0372cfb6b57b481445f077ec91d133cf1b04a7217297db15c4361dba9642338</string>
			<key>Decrypt</key>
			<true/>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n78</string>
			<key>Patch</key>
			<true/>
		</dict>
	</dict>
	<key>FirmwareReplace</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/applelogo7@2x~iphone.s5l8942x.img3</string>
		</dict>
		<key>NewAppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/applelogo@2x~iphone.s5l8942x.img3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/batterycharging0@2x~iphone.s5l8942x.img3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/batterycharging1@2x~iphone.s5l8942x.img3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/batteryfull@2x~iphone.s5l8942x.img3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/batterylow0@2x~iphone.s5l8942x.img3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/batterylow1@2x~iphone.s5l8942x.img3</string>
		</dict>
		<key>BatteryPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/glyphplugin@1136~iphone-lightning.s5l8942x.img3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/recoverymode7@1136~iphone-lightning.s5l8942x.img3</string>
		</dict>
		<key>NewRecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/recoverymode@1136~iphone-lightning.s5l8942x.img3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/LLB.n78.RELEASE.img3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/iBoot.n78.RELEASE.img3</string>
		</dict>
		<key>NewiBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/iBoot8.n78.RELEASE.img3</string>
			<key>IV</key>
			<string>d361eaeff0b733db6101c5005812e8bf</string>
			<key>Key</key>
			<string>c0334406de7a1a83e483f0c40d68960b4b4c76e364c95582054a3be55014a413</string>
		</dict>
		<key>manifest</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/manifest</string>
			<key>manifest</key>
			<string>manifest</string>
		</dict>
	</dict>
</dict>
</plist>
