<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filename</key>
	<string>iPad2,4_7.1.1_11D201_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad2,4_7.1.1_11D201</string>
	<key>RootFilesystem</key>
	<string>058-00126-002.dmg</string>
	<key>RootFilesystemKey</key>
	<string>7d3d22730968149dda11b5232c14fd2d44c4e56528596d75753cc5dd0d37548f971990b1</string>
	<key>RootFilesystemSize</key>
	<integer>1660</integer>
	<key>SHA256</key>
	<string>babe10e17990ad617fd485d5f6cfa3026dd1725b9c3e7cf0ed748be6a0fb3e78</string>
	<key>RamdiskExploit</key>
	<dict>
		<key>exploit</key>
		<string>src/target/k93a/11D257/exploit</string>
		<key>inject</key>
		<string>src/target/k93a/11D257/partition</string>
	</dict>
	<key>Firmware</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k93aap.RELEASE.dfu</string>
			<key>IV</key>
			<string>000315921c3ad1129c1c22c481e0d9b2</string>
			<key>Key</key>
			<string>a29a0201f087168d2fa3ec0b1e093bbda89683460f0893e6ea7018341319b77f</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k93aap.RELEASE.dfu</string>
			<key>IV</key>
			<string>5c58e1cded101f079e542dbbbc548320</string>
			<key>Key</key>
			<string>4913017e54c9234e92f8f7ce641294a6e2bae0a8d98145a03725fe95d2b81368</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.k93a</string>
			<key>IV</key>
			<string>6b3d2e5aa4f022bd59cb9c6ddf4a43f6</string>
			<key>Key</key>
			<string>859ef03ffb404724279e50f3b80e1435fe04de982f6350211fad92112ba8cee8</string>
			<key>Decrypt</key>
			<true/>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/DeviceTree.k93aap.img3</string>
			<key>IV</key>
			<string>a44375a995453191b17004dc965bf324</string>
			<key>Key</key>
			<string>edcc55f3c680dbb6635439c1a4045527b5a4c432f854ce6e7e7bfaf2c169d5d7</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k93aap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/applelogo.s5l8942x.img3</string>
			<key>IV</key>
			<string>b8e0a6a8b2dd9c2b69ffb06749c271ca</string>
			<key>Key</key>
			<string>08e21ca82d39b1834bc0e79d306721aac3947cb963f614e8bca66b341f91f765</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8942x.img3</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-00261-002.dmg</string>
			<key>IV</key>
			<string>67bb03dc03f8e876e4687fc8de16a5cd</string>
			<key>Key</key>
			<string>43e694acff8c4bc8a25f65a029c5d07fc63e03a01692b306a404dd9a19b04b27</string>
			<key>Decrypt</key>
			<true/>
		</dict>
	</dict>
	<key>FirmwarePath</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/applelogo.s5l8942x.img3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/batterycharging0.s5l8942x.img3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/batterycharging1.s5l8942x.img3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/batteryfull~ipad.s5l8942x.img3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/batterylow0~ipad.s5l8942x.img3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/batterylow1~ipad.s5l8942x.img3</string>
		</dict>
		<key>BatteryPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/glyphplugin~ipad-30pin.s5l8942x.img3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/recoverymode~ipad-30pin.s5l8942x.img3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/LLB.k93aap.RELEASE.img3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/iBoot.k93aap.RELEASE.img3</string>
		</dict>
	</dict>
</dict>
</plist>
