<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootFilesystem</key>
	<string>058-49142-036.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>2200</integer>
	<key>Filename</key>
	<string>iPad2,4_9.3.5_13G36_Restore.ipsw</string>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>Name</key>
	<string>iPad2,4_9.3.5_13G36</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.k93a.plist</string>
	<key>SHA1</key>
	<string>2cd8e2a54693bfa2d4c8d0010215482205c91009</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>FilesystemPatches</key>
	<dict>
		<key>Filesystem Jailbreak</key>
		<array>
			<dict>
				<key>Action</key>
				<string>Patch</string>
				<key>File</key>
				<string>etc/fstab</string>
				<key>Name</key>
				<string>Filesystem Write Access</string>
				<key>Patch</key>
				<string>fstab.patch</string>
			</dict>
		</array>
	</dict>
	<key>RootFilesystemMountVolume</key>
	<string>Genoa13G36.K93aOS</string>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k93a.RELEASE.dfu</string>
			<key>Key</key>
			<string>1ea782eef56274d6d3e13bb4a0b15fc55cd117e54441ad0553ab6900c6b2b1d3</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBSS.k93a.RELEASE.patch</string>
			<key>IV</key>
			<string>629dd865c78b323dde23312e278102dd</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k93a.RELEASE.dfu</string>
			<key>Key</key>
			<string>04cc3769848f27d34997ec5ab0eabc072b0e94c0e12730cee0e637d1a3a4dd0b</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBEC.k93a.RELEASE.patch</string>
			<key>IV</key>
			<string>9608108736bee5edadd12ca2f2bb02a6</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-49111-036.dmg</string>
			<key>Key</key>
			<string>5d875405628dded21812289f28e951196da899f398bc01348e3d3ab93441f674</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
			<key>IV</key>
			<string>6d976a60d324b98be0c501bfe5acd634</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.k93a</string>
			<key>Key</key>
			<string>0191966f1c72acb705c1321d9164dc53f0f5d38524c6ace2a655b19dff091c76</string>
			<key>TypeFlag</key>
			<integer>4</integer>
			<key>IV</key>
			<string>c8b42a7d5f943555a89236ab13973442</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>kernelcache.patch</string>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/DeviceTree.k93aap.img3</string>
			<key>Key</key>
			<string>367805d5223c3c5de18fbfab899c28896e9ae2a2dd7f4a22d877fa146f211a68</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k93aap.img3</string>
			<key>IV</key>
			<string>927f0a9907166966fd6aa59d9be9c471</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/applelogo.s5l8942x.img3</string>
			<key>Key</key>
			<string>ffc7eaddc4d3e733640e2e1c193dfd352de89129adcf7d34c7625667bf12b8ee</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8942x.img3</string>
			<key>IV</key>
			<string>2ca9fabe3f7113590f5946247a08d9f3</string>
		</dict>
	</dict>
	<key>RootFilesystemKey</key>
	<string>8c9b88e8b0971cf62fa23a0d099855a083c8fc9249ae7073a571358d521e68b21be321d1</string>
	<key>PackagePath</key>
	<string>src/cydia9.tar</string>
	<key>needPref</key>
	<true/>
	<key>UntetherPath</key>
	<string>src/untether93.tar</string>
	<key>bootArgs</key>
	<string>cs_enforcement_disable=1 amfi_get_out_of_my_way=1</string>
	<key>RamdiskPackage</key>
	<string>src/binSB.tar</string>
	<key>debug</key>
	<true/>
	<key>FirmwareInject</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/applelogo7.s5l8942x.img3</string>
		</dict>
		<key>NewAppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/applelogo.s5l8942x.img3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/batterycharging0.s5l8942x.img3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/batterycharging1.s5l8942x.img3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/batteryfull~ipad.s5l8942x.img3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/batterylow0~ipad.s5l8942x.img3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/batterylow1~ipad.s5l8942x.img3</string>
		</dict>
		<key>BatteryPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/glyphplugin~ipad-30pin.s5l8942x.img3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/recoverymode7~ipad-30pin.s5l8942x.img3</string>
		</dict>
		<key>NewRecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/recoverymode~ipad-30pin.s5l8942x.img3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/LLB.k93a.RELEASE.img3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/iBoot.k93a.RELEASE.img3</string>
		</dict>
		<key>NewiBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/iBoot9.k93a.RELEASE.img3</string>
			<key>IV</key>
			<string>4fce89efea97d313c420d6345b59616b</string>
			<key>Key</key>
			<string>dc95a1c822204f79b68365ee89362c41781fe8789e9c861a3827258be99cafbd</string>
		</dict>
		<key>manifest</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/manifest</string>
			<key>manifest</key>
			<string>manifest</string>
		</dict>
	</dict>
	<key>isIOS</key>
	<integer>93</integer>
</dict>
</plist>
