<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filename</key>
	<string>iPhone4,1_8.4.1_12H321_Restore.ipsw</string>
	<key>RootFilesystem</key>
	<string>058-24033-023.dmg</string>
	<key>RootFilesystemKey</key>
	<string>8fd9823be521060b9160272962fc2f65520de7b5ab55fe574953997e3ee5306d7bab5e02</string>
	<key>RootFilesystemSize</key>
	<integer>2200</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n94.plist</string>
	<key>SHA256</key>
	<string>68a5f724ec43b020caec7e83768252727173f0c180f12ee3d6ba8fc8aa90b27a</string>
	<key>FilesystemPackage</key>
	<dict>
		<key>bootstrap</key>
		<string>src/cydia8.tar</string>
		<key>package</key>
		<string>src/ios9.tar</string>
	</dict>
	<key>RamdiskPackage</key>
	<dict>
		<key>package</key>
		<string>src/bin.tar</string>
		<key>ios</key>
		<string>ios8</string>
	</dict>
	<key>Firmware</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>147cdef921ed14a5c10631c5e6e02d1e</string>
			<key>Key</key>
			<string>6ea1eb62a9f403ee212c1f6b3039df093963b46739c6093407190fe3d750c69c</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n94.RELEASE.dfu</string>
			<key>IV</key>
			<string>b9f99de35e106350d89af30482249df3</string>
			<key>Key</key>
			<string>03d3ecffe7df8729a85df6eafc96ee78bead7822f63ebab21016ac4157dee793</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-24341-023.dmg</string>
			<key>IV</key>
			<string>b41ffb8429157ff7677db6c7a654d1b4</string>
			<key>Key</key>
			<string>fd818ba545ecd87da334de24dd144dde7af6844778319c6eb2de7f82e39eb92f</string>
			<key>Decrypt</key>
			<true/>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/DeviceTree.n94ap.img3</string>
			<key>IV</key>
			<string>70860c7ffbd16f51b4ac998eda7db70d</string>
			<key>Key</key>
			<string>ca597a5833a96eafcf4316790a25f37fb2593b2da170b0c5e855c4fab93c2469</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n94ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
			<key>IV</key>
			<string>96b38c2b31a20def160b6a1fdcbd6c3b</string>
			<key>Key</key>
			<string>f5cc9c8f3c0242183869327e00fd2838f8624032e9cc3a6f595407ba3d5c2c08</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n94</string>
			<key>IV</key>
			<string>d98ab32f9db9f1bc72ff25a4c226f3b9</string>
			<key>Key</key>
			<string>7bdb23aa85a6de247a1aacde70b7ace76b0f4a4c5dd9de4e1e55183cbe4040fd</string>
			<key>Decrypt</key>
			<true/>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n94</string>
			<key>Patch</key>
			<true/>
		</dict>
	</dict>
	<key>FirmwareReplace</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo7@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>NewAppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/applelogo@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/batterycharging0@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/batterycharging1@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/batteryfull@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/batterylow0@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/batterylow1@2x~iphone.s5l8940x.img3</string>
		</dict>
		<key>BatteryPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/glyphplugin@2x~iphone-30pin.s5l8940x.img3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/recoverymode7@2x~iphone-30pin.s5l8940x.img3</string>
		</dict>
		<key>NewRecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/recoverymode@2x~iphone-30pin.s5l8940x.img3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/LLB.n94.RELEASE.img3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/iBoot.n94.RELEASE.img3</string>
		</dict>
		<key>NewiBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/iBoot8.n94.RELEASE.img3</string>
			<key>IV</key>
			<string>4bb43b00a1403844f251903d1f39cc9f</string>
			<key>Key</key>
			<string>8e95fd77c79f7f44e147eec00e040606e7db0b3669c172f14510b9cecb4ccb68</string>
		</dict>
		<key>manifest</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n94ap.production/manifest</string>
			<key>manifest</key>
			<string>manifest</string>
		</dict>
	</dict>
</dict>
</plist>
