<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filename</key>
	<string>iPhone5,1_9.2_13C75_Restore.ipsw</string>
	<key>RootFilesystem</key>
	<string>058-26022-078.dmg</string>
	<key>RootFilesystemKey</key>
	<string>05465982f36ec20f831e44b54a97890173b2c6e3baeb37c9b3f2f1826a90202f2ee84f9e</string>
	<key>RootFilesystemSize</key>
	<integer>2500</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n41.plist</string>
	<key>SHA256</key>
	<string>a80a908b91ab1a8a0e5a66e982b4b73d5386129bb059ed069b7ec711849a1d9d</string>
	<key>FilesystemPackage</key>
	<dict>
		<key>bootstrap</key>
		<string>src/cydia9.tar</string>
		<key>package</key>
		<string>src/ios9.tar</string>
	</dict>
	<key>RamdiskPackage</key>
	<dict>
		<key>package</key>
		<string>src/bin.tar</string>
		<key>ios</key>
		<string>ios9</string>
	</dict>
	<key>Firmware</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n41.RELEASE.dfu</string>
			<key>IV</key>
			<string>a73c794890fec62c5e32fb059b047b9c</string>
			<key>Key</key>
			<string>b9f3da631cbad1fadec5f0b79d880e13f776d9675c69833015b7145977782cb7</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n41.RELEASE.dfu</string>
			<key>IV</key>
			<string>443d868547a8739a42fbf8cb59fb0b4c</string>
			<key>Key</key>
			<string>d5d651d9be9128f90764729f4a6569a0931ee19f883d6fee3036d02f2da6285b</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-25952-079.dmg</string>
			<key>IV</key>
			<string>6668194be56151f136caa4a580474150</string>
			<key>Key</key>
			<string>b2a2cff2a366dc59da9321ffca30dabade732f157580a771c54d6f6856c98bd1</string>
			<key>Decrypt</key>
			<true/>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/DeviceTree.n41ap.img3</string>
			<key>IV</key>
			<string>f476bfc4cead68a37cf8b0ba05e75dd5</string>
			<key>Key</key>
			<string>e4b339d828c6a89cb203ce8e5a3cba0d562ef2c94a3c1053c01d3a56d3cb05b5</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n41ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
			<key>IV</key>
			<string>db177ef07de5b295a59e89ae82b34722</string>
			<key>Key</key>
			<string>81fabf8a84cd5fd86a5f16fa6c817d8378ae42c409516737c21f3b96e6d7ef1a</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n41</string>
			<key>IV</key>
			<string>ea6fa12960313dd7e600f4523f57a315</string>
			<key>Key</key>
			<string>f57768c454a0abd4e35e8e43831021b741e785a6e6cf89be75bcf5ced3ca3c0c</string>
			<key>Decrypt</key>
			<true/>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n41</string>
			<key>Patch</key>
			<true/>
		</dict>
	</dict>
	<key>FirmwareReplace</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/applelogo7@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>NewAppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/batterycharging0@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/batterycharging1@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/batteryfull@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/batterylow0@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/batterylow1@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/recoverymode7@1136~iphone-lightning.s5l8950x.img3</string>
		</dict>
		<key>NewRecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/LLB.n41.RELEASE.img3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/iBoot.n41.RELEASE.img3</string>
		</dict>
		<key>NewiBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/iBoot9.n41.RELEASE.img3</string>
			<key>IV</key>
			<string>0b9d9f92bb1d4e0e705e2cecd3f5832b</string>
			<key>Key</key>
			<string>8b4271d38b0ddbb58cad8306ba91b57e136a03a531ee43a660336e684fba4a85</string>
		</dict>
		<key>manifest</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n41ap.production/manifest</string>
			<key>manifest</key>
			<string>manifest</string>
		</dict>
	</dict>
</dict>
</plist>
