<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filename</key>
	<string>iPad2,4_7.1.2_11D257_Restore.ipsw</string>
	<key>Name</key>
	<string>iPad2,4_7.1.2_11D257</string>
	<key>RootFilesystem</key>
	<string>058-4152-009.dmg</string>
	<key>RootFilesystemKey</key>
	<string>fcd2949463ed822ef7e9887467f3251049d9395d817ca81c60efd3de160304055c81acfc</string>
	<key>RootFilesystemSize</key>
	<integer>1660</integer>
	<key>SHA256</key>
	<string>ae599e952a744a85bff7ea526e9567c8ff7d224c592bb82f6fce4d14e34afca9</string>
	<key>RamdiskExploit</key>
	<dict>
		<key>exploit</key>
		<string>src/target/k93a/11D257/exploit</string>
		<key>inject</key>
		<string>src/target/k93a/11D257/partition</string>
	</dict>
	<key>Firmware</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.k93aap.RELEASE.dfu</string>
			<key>IV</key>
			<string>79b5ab7ec0593007f91ba544d13845db</string>
			<key>Key</key>
			<string>4d1d9a4bb51aad9e1ed92f96a66905b24bfa79e471bf7c2e4d4fecf8559faf5c</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.k93aap.RELEASE.dfu</string>
			<key>IV</key>
			<string>6f5735705c6f675ec45d5d5dbb592364</string>
			<key>Key</key>
			<string>8320bdcd0a27157185745a4c29b521aa69b1b08f5a18c377b63030ab8267cae0</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.k93a</string>
			<key>IV</key>
			<string>11281cd4c331c8de71223b48a8047639</string>
			<key>Key</key>
			<string>97e17128c644afb048e158956815bc602336edb2f35b27bfa3e13ecc36d97c82</string>
			<key>Decrypt</key>
			<true/>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/DeviceTree.k93aap.img3</string>
			<key>IV</key>
			<string>ec0a3b8d55b37f84f87ee6eb175f7d7c</string>
			<key>Key</key>
			<string>b5cfdc82939df685f9142d9623978ddbcb033a5618a5d9dcd0c7dce4130648f4</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.k93aap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/applelogo.s5l8942x.img3</string>
			<key>IV</key>
			<string>c75e51a472fb8665608cb545e359aa69</string>
			<key>Key</key>
			<string>3567afbb81c4761fa4f5ed02c0e6ea1825772ee25c0eb985dabc0c78edbf7624</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo.s5l8942x.img3</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-4322-012.dmg</string>
			<key>IV</key>
			<string>47b0149daafde30bdb6391bb448ba6dd</string>
			<key>Key</key>
			<string>9f87e38c2b8b1029c4d5d1df4225e4ceb6bad6c0066b1802e05ec573897ffe4e</string>
			<key>Decrypt</key>
			<true/>
		</dict>
	</dict>
	<key>FirmwarePath</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/applelogo.s5l8942x.img3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/batterycharging0.s5l8942x.img3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/batterycharging1.s5l8942x.img3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/batteryfull~ipad.s5l8942x.img3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/batterylow0~ipad.s5l8942x.img3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/batterylow1~ipad.s5l8942x.img3</string>
		</dict>
		<key>BatteryPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/glyphplugin~ipad-30pin.s5l8942x.img3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/recoverymode~ipad-30pin.s5l8942x.img3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/LLB.k93aap.RELEASE.img3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.k93aap.production/iBoot.k93aap.RELEASE.img3</string>
		</dict>
	</dict>
</dict>
</plist>
