<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filename</key>
	<string>iPod5,1_6.0_10A406_Restore.ipsw</string>
	<key>RootFilesystem</key>
	<string>038-3851-234.dmg</string>
	<key>RootFilesystemKey</key>
	<string>82013d2519397d7ec1d48dd16f998f5b1b1dc3f49ff7b6683c12ce4c756b7f2b078122a7</string>
	<key>RootFilesystemSize</key>
	<integer>1300</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n78.plist</string>
	<key>SHA256</key>
	<string>556ce06f454f16c81d75738616337f4df1db41d9dc7d36e4c8f226921c0652ac</string>
	<key>FilesystemPackage</key>
	<dict>
		<key>bootstrap</key>
		<string>src/cydia6.tar</string>
	</dict>
	<key>RamdiskPackage</key>
	<dict>
		<key>package</key>
		<string>src/bin.tar</string>
		<key>ios</key>
		<string>ios6</string>
	</dict>
	<key>Firmware</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n78ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>cbd8275e47602dea2eb26e5e02d6a614</string>
			<key>Key</key>
			<string>79f108a92abc6372e38714efed99a6e0b2e1aaa50e3cc5dc757a1d82742e5e91</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n78ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>262359a05e82a6bed3f2fdea1bc7bdf9</string>
			<key>Key</key>
			<string>d1eada98653efbf6375f1cb8d1e786fd4f7facf8b779a911dff87752deb97f93</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<true/>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-6666-001.dmg</string>
			<key>IV</key>
			<string>57e4e148559f1ae286ebd807990cb432</string>
			<key>Key</key>
			<string>36f2fc3032e45094702395b9a8d33c366924e56580a92cb1c4728783da8d3592</string>
			<key>Decrypt</key>
			<true/>
		</dict>
		<key>RestoreDeviceTree</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/DeviceTree.n78ap.img3</string>
			<key>IV</key>
			<string>320a92f7a5bb00b47e7a65e5effac8c8</string>
			<key>Key</key>
			<string>f5033e356100aa488f4b43968d4a04402e70e65ec9c3fd91bd3518be3f65c475</string>
			<key>DecryptPath</key>
			<string>Downgrade/DeviceTree.n78ap.img3</string>
		</dict>
		<key>RestoreLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/applelogo@2x.s5l8942x.img3</string>
			<key>IV</key>
			<string>a925d3f2606124c05bafc7f5daeb79fd</string>
			<key>Key</key>
			<string>7fdedf649884fdd3433d92030f78c591f8685ff4f744f3c0cf13a143f1e76aa2</string>
			<key>DecryptPath</key>
			<string>Downgrade/applelogo@2x.s5l8942x.img3</string>
		</dict>
		<key>KernelCache</key>
		<dict>
			<key>File</key>
			<string>kernelcache.release.n78</string>
			<key>IV</key>
			<string>16c76e5646d22098b2223d63af3aad7a</string>
			<key>Key</key>
			<string>6f2ae962f218e124460571ad2d2b113a7c724986eaf392e5eaba78265bfc7795</string>
			<key>Decrypt</key>
			<true/>
			<key>DecryptPath</key>
			<string>Downgrade/kernelcache.release.n78</string>
			<key>Patch</key>
			<true/>
		</dict>
	</dict>
	<key>FirmwareReplace</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/applelogo7@2x.s5l8942x.img3</string>
		</dict>
		<key>NewAppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/applelogo@2x.s5l8942x.img3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/batterycharging0@2x.s5l8942x.img3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/batterycharging1@2x.s5l8942x.img3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/batteryfull@2x.s5l8942x.img3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/batterylow0@2x.s5l8942x.img3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/batterylow1@2x.s5l8942x.img3</string>
		</dict>
		<key>BatteryPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/glyphplugin@2x.s5l8942x.img3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/recoverymode7@1136~iphone.s5l8942x.img3</string>
		</dict>
		<key>NewRecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/recoverymode@1136~iphone.s5l8942x.img3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/LLB.n78ap.RELEASE.img3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/iBoot.n78ap.RELEASE.img3</string>
		</dict>
		<key>NewiBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/iBoot6.n78ap.RELEASE.img3</string>
			<key>IV</key>
			<string>b344657b139642ef619e99439b3494b8</string>
			<key>Key</key>
			<string>e7872f9192c8fbce9192c834651e80032e1de773a96d90afd7c5aa6ab6805308</string>
		</dict>
		<key>manifest</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n78ap.production/manifest</string>
			<key>manifest</key>
			<string>manifest</string>
		</dict>
	</dict>
</dict>
</plist>
